/*основний колір #212121*/
/*другорядний колір #757575*/
/*білий #FFFFFF*/
/*акцент #2196F3*/
/*основний bcg колір #F5F5F5*/

:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
}

/*header*/
.page {
    color:var(--primary-text-color);
    background-color: #F5F5F5;
}

.logo {
   color:#000000;  
}
.web{
    color:var(--accent-color);
}
.logo:hover{
   color: var(--accent-color);
}
.logo:focus{
    color:var(--accent-color);
}
.site-nav .link{
    color:var(--primary-text-color);
}
.site-nav .link.current{
    color: var(--accent-color);
}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts .contact-item {
    color: var(--secondary-text-color);
}
.contacts .contact-item:hover,
.contacts .contact-item:focus{
    color:var(--accent-color);
}

/*main*/

/*hero*/

.section-title{
    color:var(--primary-text-color) ;
}
/*features*/
.feature-list .title {
    color:var(--primary-text-color);
}
.list-item .text{
    color: var(--secondary-text-color);
}
/*work*/
.work-list .title{
    color: var(--primary-text-color);
}
/*team*/
.team-list .title{
    color: var(--primary-text-color);
}
.list-member .text{
    color: var(--secondary-text-color);
}
/*footer*/
.end-page{
    background-color:#2F303A;
}
.postoffice{
    color:#FFFFFF ;
}
.email,
.number {
color:#FFFFFF ;
}
.email:hover,
.email:focus{
   color: var(--accent-color); 
}
.number:hover,
.number:focus{
    color: var(--accent-color);
}

/*portfolio*/
.button {
    color: var(--primary-text-color);
    background-color:#F5F4FA;
}
.button.primary{
    color: #FFFFFF;
    background-color:var(--accent-color);
}
.button.secondary{
    color: var(--primary-text-color);
    background-color: #F5F4FA;
}