/*основний колір #212121*/
/*другорядний колір #757575*/
/*білий #FFFFFF*/
/*акцент #2196F3*/
/*основний bcg колір #F5F5F5*/

:root {
    --primary-text-color:#212121;
    --secondary-text-color:#757575;
    --accent-color:#2196F3;
    --primary-bcground-color:#F5F5F5;
    --bcground-accent-color: #2196F3;
    --primary-white-color:#FFFFFF;
    --secondary-white-color:#F5F4FA;
    --bcground-secondary-white-color: #F5F4FA;
}

/*header*/
.logo, .accent {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height:1.19;
    text-decoration: none;       
}
.logo {
    color: #000000;
}

.accent {
    color: var(--accent-color);
}

.logo:hover {
    color: var(--accent-color);
}

.logo:focus {
    color: var(--accent-color);
}

/*body*/
.page {
    color:var(--primary-text-color);
    background-color: var(--primary-bcground-color);
    font-family: 'Roboto', sans-serif;
}
.page-header{
    background-color:#FFFFFF;
}
.site-nav .link{
    color:var(--primary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.site-nav .link.current{
    color: var(--accent-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;

}
.site-nav .link:hover, 
.site-nav .link:focus {
    color: var(--accent-color);
}
.contacts .contact-item {
    color: var(--secondary-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.contacts .contact-item:hover,
.contacts .contact-item:focus{
    color:var(--accent-color);
}

/*main*/

/*hero*/
.hero{
    background-color: #2F303A;
}
.hero-title{
    color: #FFFFFF;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
}

.section-title{
    color:var(--primary-text-color) ;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
}
.list{
    list-style: none;
}
/*features*/
.feature-list .title {
    color:var(--primary-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
}
.list-item .text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
/*work*/
.work-list .title{
    color: var(--primary-text-color);
}
/*team*/
.team{
    background-color: #F5F4FA;
}
.team-list .title{
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.section-team {
    background-color: var(--bcground-secondary-white-color);
}
.list-member .text{
    color: var(--secondary-text-color);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
}
/*footer*/
.end-page{
    background-color:#2F303A;
}
.post-office{
    color:var(--primary-white-color);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}
.email,
.number {
    color:var(--primary-white-color) ;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    text-decoration: none;
}
.email:hover,
.email:focus{
   color: var(--accent-color); 
}
.number:hover,
.number:focus{
    color: var(--accent-color);
}

/*Styles of portfolio*/
.button {
    color: var(--primary-text-color);
    background-color:var(--secondary-white-color);
    cursor: pointer;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
}
.button:hover,
.button:focus{
    color: var(--primary-white-color);
    background-color:var(--bcground-accent-color);
}
.button.primary{
    color:var(--primary-white-color);
    background-color:var(--bcground-accent-color);
   
}
.button.secondary{
    color: var(--primary-text-color);
    background-color:var(--bcground-secondary-white-color);
}